.beerTile {  
    background-color: rgba($color: #e9c75a, $alpha: 1.0);    
    height: 300px;
    width: 200px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 5px;
}
.beerPic {
    position: sticky;
    width: auto;
    height: 40%;    
}