@media screen and (max-width: 768px){
  .sideNav{
    background-image: url("/src/assets/images/pint.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
  }
  .App {
    text-align: center;    
  }
  .beerList{
    background-image: url("/src/assets/images/bottles.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 25px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 15px;
  }
}
@media (min-width: 768px){
.App {
  text-align: center;
  display: flex;
  justify-content: flex-start;
}
.beerList{
  background-image: url("/src/assets/images/bottles.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  margin-bottom: 20px;
  margin-left: 0px;
  border-left: 1px solid black;
}
.sideNav{
  background-image: url("/src/assets/images/pint.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed; 
  width: 300px;
}
}